/*
12pt×(96/72)=16px
*/
body {
    background-color: #f0f0f0;
    font-family: Cambria, Garamond, Arial, Georgia;
    margin: 2%;
    padding: 1%;
    border: 1px solid #ccc; 
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

#head p {
    font-weight: bold;
    text-align: center;
}

h1{
    text-align: center;
}

#information {
    display: flex;
    align-items: center;
    width: 100%;
}

#information p a {
    text-decoration: none;
    color: inherit;
}

#information p{
    font-weight: bold;
    margin: 0 3.5%;

}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    
}
#skills li {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
}

#degree {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#degree h3 {
    margin: 0%;
}
#degree p {
    margin: 3.5%;
    font-weight: bold;
}